<body class="background">
<mat-card class="container">
  <mat-card-title style="text-align: center; margin-bottom: 20px; font-size: 20px">
    Forgot password
  </mat-card-title>
  <mat-card-header class="card-header">
    Enter your e-mail address you have registered
  </mat-card-header>
  <mat-form-field appearance="fill">
    <input  placeholder="Email" [(ngModel)]="email" matInput id="login-email">
  </mat-form-field>


  <mat-card-actions>
    <button mat-raised-button (click)="sendEmailToForgotPassword()" style="background-color: #46b0f6; width: 200vh; border-radius: 30px ">Send link</button>
  </mat-card-actions>
</mat-card>

</body>

