.background {
  background: linear-gradient(180deg, rgba(63,81,181,1) 23%, rgba(137,208,254,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  width: 500px;
  height: 450px;
  background-size: cover
}

.card-header{
  font-size: 20px;
  margin-bottom: 20px;
}
