<mat-toolbar color="primary" style="display: flex;">
  <span >Chatz</span>
  <span style="flex: 1 1 auto"></span> <!-- spacer for header -->
  <img (click)="img_upload.click()" src="avatar" style="max-height: 60px; margin-right: 10px; border-radius: 15px">
  <input #img_upload hidden type="file" (change)="firebaseservice.updateUserAvatar($event)">
  <span>email placeholder</span>
  <span style="flex: 1 1 auto"></span> <!-- spacer for header -->
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon style="scale: 2">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="firebaseservice.sign_out()"> <!--User is logged in-->
      <span>Log out</span>
    </button>
    <ul>
      <li><a routerLink="login-and-registration">Login and registration</a></li>
      <li><a routerLink="admin-dashboard">Admin Dashboard</a></li>
      <li><a routerLink="admin-dashboard/manage-books">Admin manage books</a></li>
      <li><a routerLink="admin-dashboard/manage-users">Admin manage users</a></li>
      <li><a routerLink="user-dashboard">user dashboard</a></li>
      <li><a routerLink="user-dashboard/browse-books">user browse books</a></li>
      <li><a routerLink="user-dashboard/checkout">user checkout</a></li>
      <li><a routerLink="user-dashboard/settings">user settings</a></li>
      <li><a routerLink="book">book</a></li>
    </ul>
  </mat-menu>
</mat-toolbar>


<router-outlet></router-outlet>
