<h1 mat-dialog-title>Hi  {{fireService.loggedInUser?.name}}</h1>
<div mat-dialog-content>
  <p style="color: black">Would you like to copy currently selected book or start from scratch?</p>
  <p style="color: black">Remember to click "Save" when you're done</p>
</div>
<div mat-dialog-actions style="width: max-content; margin: auto; padding: 10px">
  <button mat-raised-button (click)="newBookCopyBook()">Copy book</button>
  <button mat-raised-button (click)="newBookClearAll()">Clear all - new book</button>
  <button mat-raised-button (click)="cancelClick()">Cancel</button>
</div>
