<div class="main-left"></div> <!-- Left bar div -->

<div class="main">
  <div class="user-settings">
    <div class="grid-tile-user-title">
      <p class="dashboard-title">Profile Settings! 🙂</p>
    </div>
    <div class="grid-tile-user-image">
      <img (click)="img_upload.click()" src="{{user?.imageUrl}}" height="200" width="200" class="user-settings-img">
      <input #img_upload hidden type="file" (change)="updateUserAvatar($event)">
    </div>
    <div class="grid-tile-user-name">
      <strong>{{user?.name}}</strong>
    </div>
    <div class="grid-tile-email-show">
      <mat-form-field appearance="outline">
        <mat-label>Current email</mat-label>
        <input matInput [(ngModel)]="user.email">
      </mat-form-field>
    </div>
    <div *ngIf="edit_email" class="grid-tile-email-input">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>New email</mat-label>
        <input matInput [(ngModel)]="new_email">
      </mat-form-field>
    </div>
    <div class="grid-tile-edit-email">
      <button (click)="flip_email_state()" class="edit-save-button" mat-raised-button color="primary">Edit</button>
      <button *ngIf="edit_email" (click)="edit_email_function(new_email)" class="edit-save-button" mat-raised-button color="warn">Cancel</button>
    </div>
    <div *ngIf="edit_email" class="grid-tile-save-email">
      <button (click)="edit_email_function(new_email)" class="edit-save-button" style="background-color: #00b278" mat-raised-button color="primary">Save</button>
    </div>

    <div class="grid-tile-password-hidden">
      <mat-form-field appearance="outline">
        <mat-label>Current password</mat-label>
        <input matInput [(ngModel)]="password_placeholder">
      </mat-form-field>
    </div>
    <div *ngIf="edit_password" class="grid-tile-password-input">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput [(ngModel)]="new_password" type="password">
      </mat-form-field>
    </div>
    <div class="grid-tile-edit-password">
      <button (click)="flip_password_state()" class="edit-save-button" mat-raised-button color="primary">Edit</button>
      <button *ngIf="edit_password" (click)="flip_password_state()" class="edit-save-button" mat-raised-button color="warn">Cancel</button>
    </div>
    <div *ngIf="edit_password" class="grid-tile-save-password">
      <button (click)="edit_password_function()" class="edit-save-button" style="background-color: #00b278" mat-raised-button color="primary">Save</button>
    </div>

  </div> <!-- User settings div -->
  <div class="grid-wrapper">
    <p class="dashboard-title">My Books! 📚</p>
    <div class="my-books" *ngFor="let book of user?.books">
      <div class="my-book-grid"
         [ngClass]="{'not-expired': !book?.overDue, 'expired': book?.overDue}">
      <div class="grid-tile-title">
        <strong>{{book?.book?.title}}</strong>
        <button mat-mini-fab *ngIf="book?.overDue" color="warn" style="scale: 0.5; float: right"></button> <!--book is expired -->
        <button mat-mini-fab *ngIf="!book?.overDue" style="scale: 0.5; background-color: #00b278; float: right"></button> <!--book is not expired -->
      </div>
      <div class="grid-tile-image">
        <img ngSrc="{{book?.book?.imageUrl}}" width="150" height="255"></div>
      <div class="grid-tile-details-left">
        <p>{{book?.book?.releaseYear.toDate() | date: 'YYYY'}}, Edition {{book?.book?.edition}}</p>
        <p *ngFor="let author of book?.book?.authors">{{author?.name}}</p>
      </div>
      <div class="grid-tile-details-right">
        <p>{{book?.book?.numberOfPages}} pages</p>
        <p>{{book?.book?.literaryType}}</p>
        <p>ISBN: {{book?.book?.ISBN}}</p>
      </div>
      <div class="grid-tile-lease-date">Lease date: {{book?.leaseDate.toDate() | date: 'YYYY/MM/dd HH:mm'}}</div>
      <div class="grid-tile-due-date">Due date: {{book?.dueDate.toDate() | date: 'YYYY/MM/dd HH:mm'}}</div>
      <div class="grid-tile-filler"></div>
      <div class="grid-tile-expiration">
        <p *ngIf="book?.overDue" style="margin-right: 0.5vw;"><strong>Status: Expired </strong></p> <!--book is expired -->
        <p *ngIf="!book?.overDue" style="margin-right: 0.5vw;"><strong>Status: Not expired </strong></p> <!--book is not expired -->
      </div>
    </div>
    </div> <!-- My books div -->
  </div> <!-- My books grid wrapper -->

</div> <!-- Main bar div -->
<div class="main-right"></div> <!-- Right bar div -->
